body {
  padding: 20px;
  font-family: sans-serif;
  background-color: #eaeaea;
}

summary {
  cursor: pointer;
}

p {
  white-space: pre-wrap;
}

details {
  white-space: pre-wrap;
}

.term {
  display: inline-block;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid #a0a0a0;
}

.error {
  display: inline-block;
  font-family: monospace;
  padding: 4px;
  border-radius: 2px;
  background-color: #FF000040;
}

.inference-rule {
    background-color: #f0f0f0;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    padding: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    box-shadow: 0px 4px 4px;
    max-width: 100%;
}

.inference-rule summary {
    font-weight: bold;
    border-radius: 4px;
    margin: -4px;
    padding: 4px;
}

.inference-rule summary:hover {
    background-color: #d0d0d0;
}

.inference-rule[open] > summary {
    border-bottom: 1px solid #a0a0a0;
    border-radius: 4px;
    box-shadow: 0px 1px 4px 0px #00000070;
}

.inference-rule > div {
  display: inline-block;
  padding: 12px;
}

.banks {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.rule-bank {
  display: block;
  min-width: 50%;
  margin: 2px;
  padding: 1px;
}

.proposition-bank {
  background-color: #f0f0f0;
  margin: 4px;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.proposition-bank ul {
  margin-top: -8px;
  margin-bottom: 16px;
}

.free-proposition-picker {
  display: flex;
  align-items: flex-start;
  margin: 16px;
  flex-wrap: wrap;
}

.free-term-picker.free-term-picker {
  display: inline-block;
  vertical-align: top; 
}

.sublevel {
  min-width: 80%;
  border: 2px solid;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  box-shadow: 0px 6px 6px;
}
