body {
  padding: 20px;
  font-family: sans-serif;
  background-color: #f9f9f9;
}

.error {
  display: inline-block;
  font-family: monospace;
  padding: 4px;
  border-radius: 2px;
  background-color: #FF000040;
}

details {
    width: auto;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    padding: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

summary {
    font-weight: bold;
    cursor: default;
    border-radius: 4px;
    margin: -4px;
    padding: 4px;
}

summary:hover {
    background-color: #f0f0f0;
}

details[open] > summary {
    border-bottom: 1px solid #a0a0a0;
    border-radius: 4px;

}

details > div {
  display: inline-block;
  padding: 12px;
}

.free-proposition-picker {
  display: flex;
  align-items: flex-start;
  margin: 16px;
  flex-wrap: wrap;
}
